:root{
    --background: #E6EAF2;
    --danger: #d45959;
    --success: #7fE371;
}

body{
    background-color: var(--background);
}
.contain{
    width: 100vw;
    height: calc(100vh - 160px) !important;
    position:relative;
    font-family: var(--font-Shippori) !important;
}

section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    padding: 30px 25px !important;
    background-color:white;

}

section h4{
    padding-left: 18%;
    padding-bottom: 15px;
    display:inline-block;
}

section a{
    float: right;
}

.dep{
    color:white;
    background-color: var(--success);
}

.ret{
    color:white;
    background-color: var(--danger);
}

@Media(max-width: 1400px){
    section{
       width: 65% !important;
    }
}

@Media(max-width: 767px){
    body{
        background-color:#E6EAF2 !important;
    }

    section{
       border-radius: 0px;
       margin: 0px;
       width: 100% !important;
    }
    .contain{
        width: 100%;
        margin: 0px;
    }
    footer{
        position: absolute !important;
    }
}
