@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shippori+Antique&display=swap');

:root{
  --font-Montserrat: 'Montserrat', sans-serif;
  --principal: #729DF2;
  --principal-oscuro: #4465A6;
  --background: #E6EAF2;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    font-family: var(--font-Montserrat) !important;
}

.contain{
    width: 60%;
    margin: 30px auto;
    font-family: var(--font-Shippori) !important;
}

section{
    text-align:center;
    border-radius: 10px;
    padding: 30px 25px !important;
    background-color:white;
    height: calc(100vh - 180px);
}

section h4{
    padding-bottom: 15px;
}

.button-border{
    border: 3px solid var(--principal);
    background-color: white;
    min-width: 180px;
    padding: 6px 3px;
    margin: 0px 2px 8px 2px;
    border-radius: 20px;
    transition-duration: .4s;
}

.button-border:hover{
    border-color: var(--principal-oscuro);
    background-color: var(--principal-oscuro);
    color: white;
}

.button-form-margin{
    margin-top: 50px;
}

form{
    font-family: var(--font-Montserrat);
    text-align: center;
    margin-top: 60px;
}

form label{
    margin: 6px 0px 3px 0px;
    display: block;
    text-align: left;
}

form input{
    width: 100%;
    border: 2px solid var(--background);
    border-radius: 7px;
    padding: 2px 8px;
}

@Media(max-width: 767px){
    body{
        background-color:#E6EAF2 !important;
    }
    section{
       border-radius: 0px;
       margin: 0px;
       height: calc(100vh - 120px);
    }
    .contain{
        width: 100%;
        margin: 0px;
    }
}
