body{
    background-color: white !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-hight: 100vh;
}

#contenedor3{
    width: 1350px;
    height: 535px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}
.imagen3 {
    width: 800px;
    height: 533px;
    float: right;
    background-color: blue;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    grid-area: 1 / 2 / 2 / 4;

}
article3{
    width: 450px;
    height: 300px;
    float: left;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    /*bottom: 0 !important;*/
    grid-area: 1 / 1 / 2 / 2;
}

@media handheld, screen and (min-width:600px) and (max-width:1023px){

}

@media handheld, screen and (max-width:599px){

}

:root{
  --footer: #435270;
}

footer3{
    font-size: 10px;
    color: white;
    height: 60px;
    padding: 10px;
    margin-top: auto;
    vertical-align: middle;
    background-color: var(--footer);
}

footer3 p{
    font-family: var(--font-Montserrat) !important;
    text-align:center;
}

footer3 a{
    color:white;
}

footer3 a:hover{
    color:white;
}
