<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>App view</title>
  <link rel="icon" href="img/logo.png">
  <div th:insert="../static/layout::header"></div>
  <link rel="stylesheet" type="text/css" href="css/appView.css" media="screen">
</head>
<body>
<div id="nav" th:insert="../static/layout::navbar"></div>
  <div class="contain">
    <section class="col-sm-3 section-top">
      <div class="content">
        <h4>Cotizaciones actuales</h4>
        <table class ="table table-hover">
          <thead>
          <tr>
            <th class="text-center"> Moneda </th>
            <th class="text-center"> Cotización (USD)</th>

          </tr>
          </thead>
          <tbody style="text-align:center">
          <tr th:each="coin: ${coins}">
            <td>BTC</td>
            <td th:text = ${coin.ask}></td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="col-sm-6 articles">
      <article>
        <h4>Saldo actual</h4>
      </article>
      <article>
        <div class="top-article">
          <h4>Últimos movimientos</h4>
          <a href="#">Ver todos</a>
        </div>
        <table class ="table table-hover" >
          <thead>
          <tr>
            <th class="text-center"> moneda </th>
            <th class="text-center"> monto </th>

          </tr>
          </thead>
          <tbody style="text-align:center">
          <tr th:each="mov: ${movs}">
            <td th:text = ${mov.id_coin.name}></td>
            <td class="dep" th:if = "${mov.type==false}" th:text ="'+'+ ${mov.balance}"></td>
            <td class="ret" th:if= "${mov.type==true}" th:text ="'-'+ ${mov.balance}"></td>
          </tr>
          </tbody>
        </table>
      </article>
    </section>
    <section class="col-sm-3 invis">
      <div class="content">
        <div class="buttons">
          <button class="button" onclick="trans()">Retirar</button>
          <button class="button" onclick="trade()">Tradear</button>
          <button class="button" onclick="transfer()">Transferir</button><br>
        </div>
        <div id="table-cell">
          <label id="trans">
            <h4>Realizar un deposito</h4>
            <!---->
            <form th:action="@{/withdraw}" th:object="${User_Coin}" method="post">
              <div>
                <label>Numero de cuenta: </label>
                <input type="number" name="id_user" th:field="*{id_user_userCoin.id_user}"/><br>
                <label>Moneda: </label>
                <input type="text" name="id_coin" th:field="*{id_coin_userCoin.id_coin}"/><br>
                <label>Monto: </label>
                <input type="number" step="0.0001" name="balance" th:field="*{balance}"/>
                <!--<small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>-->


              </div>
              <button class="button-border button-form-margin" type="submit">Retirar</button>
            </form>
          </label>
          <label id="trade">
            <h4>Realizar cambio</h4>
            <!--th:action="@{/user/trade}" th:object="${trade}" method="post"-->
            <form>
              <div>
                <label>Moneda incial: </label>
                <input type="text" name="coin"/><br>
                <label>Monto: </label>
                <input type="number" name="balance"/><br>
                <label>Moneda destino: </label>
                <input type="text" name="coin"/>
                <!--<small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>-->
              </div>
              <button class="button-border button-form-margin" type="submit">Tradear</button>
            </form>
          </label>
          </label>
          <label id="transfer">
            <h4>Realizar transferencia</h4>
            <!--th:action="@{/user/trade}" th:object="${trade}" method="post"-->
            <form>
              <div>
                <label>Destinatario: </label>
                <input type="text" name="coin"/><br>
                <label>Moneda: </label>
                <input type="text" name="coin"/>
                <label>Monto: </label>
                <input type="number" name="balance"/><br>
                <!--<small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>-->
              </div>
              <button class="button-border button-form-margin" type="submit">Transferir</button>
            </form>
          </label>

        </div>

      </div>
    </section>
  </div>
<div id="footer" th:insert="../static/layout::footer"></div>
</body>
</html>

