<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav>
    LOGO
    <div class="nav-user">User</div>
  </nav>
  <div class="contain">

    <section class="col-sm-4">
      <div class="content">
        Cotizaciones actuales

      </div>
    </section>
    <section class="col-sm-4 articles">
      <article>
        Cartera de Usuarios
      </article>
      <article>
        Últimos movimientos
      </article>
    </section>
    <section class="col-sm-4">
      <div class="content">
        Sección de Tradeos / Transacciones

      </div>
    </section>
  </div>

</body>
</html>