<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="icon" href="img/logo.png">
    <div th:insert="../static/layout::header"></div>
    <link rel="stylesheet" type="text/css" href="css/formStyle.css" media="screen">
</head>
<body>
<div th:insert="../static/layout::navbar-anonymous"></div>
<div class="contain">
    <section class="col-sm-4">
        <h4>Iniciar Sesión</h4>
        <form th:action="@{/login}" method="post">
            <div>
                <label>Correo electrónico: </label>
                <input type="email" name="username"/><br>
                <small class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                <label>Contraseña: </label>
                <input type="password" name="password"/>
                <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                <a th:href="@{/register}">¿No tienes cuenta? Regístrate</a>
            </div>
            <button class="button-border button-form-margin" type="submit">Iniciar Sesión</button>
        </form>
    </section>
</div>
<button th:replace="../static/layout::alert"></button>
<div th:insert="../static/layout::footer"></div>
</body>
</html>